.topnav{
  z-index: 20
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}
li:first-child {
    float: left; 
}

li {
    display: inline-block;
    padding-right: 2%;
    margin: 30px 0 0 0;
    font-size: 35px;
}
.topnav {
    list-style: none;
    font-family: 'Roboto Thin';
    color: aliceblue;
    margin: 50px 0 0 0;
    text-align: right;
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 0px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #1B2D41;
}

/* Control the right side */
.right {
  right: 0;
  background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */


.particles {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 20;
  top: 0;
  
  padding-top: 20px;
  left:0;

}